<main id="main">

  <section class="section pb-0 mt-8 ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 me-auto">
          <h2 class="mb-4 section_title">calories</h2>
          <p class="mb-4 section_desc">
            Calories are a unit of measurement for energy content in food and
            beverages. They represent the amount of energy released when our
            bodies break down and utilize nutrients. Consuming more calories
            than needed can lead to weight gain, while consuming fewer calories
            can result in weight loss. Balancing calorie intake with individual
            needs is important for maintaining a healthy weight.
          </p>
          <p>
            <a routerLink="/total-calories" class="btn btn-primary"
              >Calculate New</a
            >
          </p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img
            src="assets/img/fitness-app.png"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 ms-auto order-2">
          <h2 class="mb-4 section_title">Body Mass Index(BMI)</h2>
          <p class="mb-4 section_desc">
            Body Mass Index (BMI) is a numerical value that indicates the
            relationship between a person's weight and height. It is calculated
            by dividing a person's weight (in kilograms) by the square of their
            height (in meters). BMI provides an estimation of body fatness and
            is commonly used as a screening tool to assess weight status and
            associated health risks. BMI values fall into categories such as
            underweight, normal weight, overweight, and obese, helping to
            identify potential health concerns related to weight.
          </p>
          <p><a routerLink="/mass-index" class="btn btn-primary">Calculate New</a></p>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <img
            src="assets/img/3683289.jpg"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 me-auto">
          <h2 class="mb-4 section_title">Body fat</h2>
          <p class="mb-4">
            Body fat percentage refers to the proportion of fat mass in relation
            to total body weight. It is a measure that indicates the amount of
            fat stored in the body. Knowing one's body fat percentage can
            provide insights into overall health, fitness levels, and potential
            health risks associated with excess body fat. Various methods, such
            as skinfold calipers, bioelectrical impedance analysis (BIA), or
            DEXA scans, can be used to estimate body fat percentage.
          </p>
          <p><a routerLink="/BodyFat" class="btn btn-primary">Calculate New</a></p>
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <img
            src="assets/img/boy-running-on-treadmill-8679229-6964169.png"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 ms-auto order-2">
          <h2 class="mb-4 section_title">Your water needs</h2>
          <p class="m-0 p-0 pb-1">
            Water is essential for maintaining overall health and well-being.
            Here are four benefits of water:
          </p>
          <ul>
            <li>
              Hydration: Water is crucial proper for hydration, supporting
              bodily functions, and maintaining optimal physical performance.
            </li>
            <li>
              Nutrient Absorption: Water helps transport nutrients and oxygen to
              cells, helping in the absorption and utilization of essential
              nutrients from food.
            </li>
            <li>
              Body Temperature Regulation: Water helps regulate body temperature
              through sweat production and cooling mechanisms, preventing
              overheating.
            </li>
            <li>
              Waste Removal: Adequate water intake supports kidney function,
              helping in the removal of waste products and toxins from the body
              through urine production.
            </li>
          </ul>

          <p><a routerLink="/water-needs" class="btn btn-primary">Calculate New</a></p>
        </div>
        <div class="col-md-6" data-aos="fade-right">
          <img
            src="assets/img/istockphoto-1278020114-612x612.jpg"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>
</main>
