<nav class="navbar navbar-expand-lg fixed-top navBar_container">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/home">BodyLab</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav_item">
          <a class="nav_link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" routerLink="/total-calories">calories</a>
        </li>

        <li class="nav_item">
          <a class="nav_link" routerLink="/mass-index">BMI</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" routerLink="/BodyFat">BodyFat</a>
        </li>
        <li class="nav_item">
          <a class="nav_link" routerLink="/water-needs">water-needs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
